.ingredient {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.ing-img-block {
    margin-right: 25px;
}

.ing-img {
    display: block;
    width: 100%;
    height: 100%;
}