*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.constructor-burger {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
}

.ingredients-block,
.burger-block {
  width: 48%;
}

@media (max-width: 500px) {
  .ingredients-block,
  .burger-block {
    width: 100%;
  }
}


